* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #dde8e8;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 3rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #2b2626;
    background-color: #b3b388;

  }
  .box:hover{
    background-color:rgb(104, 104, 235) ;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color:aliceblue;
    border-radius: 1rem;
    border: none;
  }
 

  #Winner{
    font-size: 40px;
    color:hwb(7 5% 9%);
    display: inline;
    margin-bottom: 1.5rem;
  }
#turn{
  font-size: 70px;
   color: red;
}